* {
	margin: 0px;
	padding: 0px;
}
body {
	height: 100%;
	width: 100%;
	background-color: white;
	font-family: 'dejavu sans', 'verdana';
}
#topbar {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 2px;
	text-align: center;
}
#content {
	margin-top: 5%;
	margin-bottom: 5%;
	width: 55%;
	float: left;
}
#sidebar {
	width: 15%;
	margin-right: 5%;
	margin-top: 10%;
	margin-left: 5%;
	float: left;
}
#sidebar ul{
	list-style: none;
	font-size: 1..05em;
}
#sidebar ul li{
	border-left: 2px solid #999;
	padding: 6px 6px;
	padding-right: 8px;
}
#sidebar ul li:hover{
	background-color: #FAFAFA;
	border-left: 2px solid black;
}
#sidebar ul li a{
    text-decoration: none;
}

h2{
	font-size: 1.2em;
	margin-bottom: 15px;
}
h3{
	font-size: 1em;
	margin-bottom: 5px;
}
h4{
    font-size: .8em;
}
p{
	margin-bottom: 10px;
	clear: both;
	display: block;
}
div.highlight{
	margin: 15px;
}
div.code-left {
	float: left;
}
div.code-right{
	float: left;
	height: inherit;
	padding-left: 15px;
	border-left: 1px solid #DDD;
    margin-right: -400px;
}
p, ul{
    font-size: 0.9em;
}
