* {
	margin: 0px;
	padding: 0px;
}
body {
	height: 100%;
	width: 100%;
	background-color: white;
	font-family: 'verdana';
}
#topbar {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 2px;
	text-align: center;
}
#content {
	margin-top: 5%;
	padding-bottom: 3%;
	width: 60%;
	float: left;
}
#content ul,ol{
	padding-left: 3%;
}
#content ul{
	list-style-type: square;
}
#content ul li,ol li{
	font-size: 0.9em;
	margin-bottom: 3px;
}

#sidebar {
	width: 15%;
	margin-right: 3%;
	margin-top: 10%;
	margin-left: 5%;
	float: left;
}
#sidebar ul{
	list-style: none;
}
#sidebar ul li{
	font-size: 0.9em;
	border-left: 2px solid #999;
	padding: 6px 6px;
	padding-right: 8px;
}
#sidebar ul li:hover{
	border-left: 2px solid black;
}
#sidebar ul li a{
    text-decoration: none;
}

h2{
	font-size: 1.2em;
	margin-bottom: 15px;
}
h3{
	margin-top: 17px;
	font-size: 1.05em;
}
h4{
    font-size: 0.8em;
}
p{
	margin-bottom: 10px;
	clear: both;
	display: block;
	font-size: 0.9em;
}
div.highlight{
    padding: 4px;
	margin: 15px;
    margin-top: 5px;
}
div.code-left {
	float: left;
}
div.code-right{
	float: left;
	height: inherit;
	padding-left: 15px;
	border-left: 1px solid #DDD;
    margin-right: -400px;
}