* {
	margin: 0px;
	padding: 0px;
}
body {
	height: 100%;
	width: 100%;
	background-color: white;
	font-family: 'verdana';
	font: 14px;
}
#content {
	margin-top: 5%;
	width: 55%;
	float: left;
}
#sidebar {
	width: 15%;
	margin-right: 5%;
	margin-top: 10%;
	margin-left: 5%;
	float: left;
}
#sidebar ul{
	background-color: #FCFCFC;
	text-decoration: none;
	list-style: none;
	font-size: 15px;
}
#sidebar ul li{
	border-left: 2px solid #777;
	padding: 6px 6px;
	padding-right: 8px;
}
#sidebar ul li:hover{
	background-color: #FAFAFA;
	border-left: 2px solid black;
}
h2{
	font-size: 1.2em;
	font-family: helvetica;
	margin-bottom: 10px;
	float: middle;
}
p{
	margin-bottom: 10px;
	clear: both;
	display: block;
}
div.highlight{
	margin: 15px;
}
div.code-left div.highlight{
	float: left;
}
div.code-right div.highlight{
	float: left;
	padding-left: 25px;
	border-left: 1px solid #DDD;
}