<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<title>{{ page.title }}</title>
	
	<link rel='stylesheet' href='css/syntax.css'/>
	<link rel='stylesheet' href='css/screen.css' media='screen, projection'/>
</head>
<body>
	<div id='topbar'>
		<h2>Pharen: Lisp -> PHP</h2>
	</div>
	<div id='sidebar'>
		<ul>
			<li><a href='index.html'>Introduction</a></li>
			<li><a href='download.html'>Download and Install</a></li>
            <li><a href='tutorial.html'>Quick Tutorial</a></li>
			<li><a href='reference.html'>Language Reference</a></li>
			<hr/>
			<li><a href='bundled.html'>Bundled Code</a></li>
			<li><a href='macro-tutorial.html'>Macro Tutorial<a></li>
			<li><a href='contribute.html'>Contribute</a></li>
		</ul>
	</div>
	
	<div id='content'>
		{{ content }}
	</div>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2124259-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>
