<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<title>{{ page.title }}</title>
	
	<link rel='stylesheet' href='css/syntax.css'/>
	<link rel='stylesheet' href='css/screen.css' media='screen, projection'/>
</head>
<body>
	<div id='topbar'>
		<h2>Pharen: Lisp -> PHP</h2>
	</div>
	<div id='sidebar'>
		<ul>
			<li><a href='index.html'>Introduction</a></li>
			<li><a href='download.html'>Downloading and usage</a></li>
            <li><a href='tutorial.html'>Quick Tutorial</a></li>
			<li><a href='basics.html'>Pharen Basics</a></li>
			<li><a href='lists.html'>Lists and Dictionaries</a></li>
		</ul>
	</div>
	
	<div id='content'>
		{{ content }}
	</div>
	
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try{
	var pageTracker = _gat._getTracker("UA-xxxxxx-x");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>
