<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.css" rel="stylesheet">
	<link rel='stylesheet' href='css/tomorrow.css'/>
    <link href="css/page.css" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="/">Pharen</a>
        <ul class="navbar-nav nav">
            {% if page.name == "download" %}
                {% assign dl_active = "active" %}
            {% elsif page.name == "tutorial" %}
                {% assign tl_active = "active" %}
            {% elsif page.name == "reference" %}
                {% assign rf_active = "active" %}
            {% elsif page.name == "contribute" %}
                {% assign cn_active = "active" %}
            {% endif %}
            <li class="{{ dl_active }}">
                <a href="/download.html">Download</a>
            </li>
            <li class="{{ tl_active }}">
                <a href="/tutorial.html">Tutorial</a>
            </li>
            <li class="{{ rf_active }}">
                <a href="/reference.html">Reference</a>
            </li>
            <li class="{{ cn_active }}">
                <a href="/contribute.html">Contribute</a>
            </li>
        </ul>
    </nav>
	<div id='content' class="row col-md-10">
        <div id="navbar">
            <ul class="nav-stacked">
            {% for section in page.sections %}
                <li>
                    <a href='#{{ section }}'>{{ section | replace: '-', ' ' | capitalize }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-9 col-md-offset-3">
            {{ content }}
        </div>
	</div>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2124259-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>
